[submodule "Homeworks/HW2-Bezier-de-Casteljau/imgui"]
	path = Homeworks/HW2-Bezier-de-Casteljau/imgui
	url = https://github.com/ocornut/imgui
[submodule "Homeworks/HW2-Bezier-de-Casteljau/glfw"]
	path = Homeworks/HW2-Bezier-de-Casteljau/glfw
	url = https://github.com/glfw/glfw
[submodule "Homeworks/HW2-Bezier-de-Casteljau/implot"]
	path = Homeworks/HW2-Bezier-de-Casteljau/implot
	url = https://github.com/epezent/implot.git
[submodule "Homeworks/HW3-Bezier-Bernstein/imgui"]
	path = Homeworks/HW3-Bezier-Bernstein/imgui
	url = https://github.com/ocornut/imgui
[submodule "Homeworks/HW3-Bezier-Bernstein/glfw"]
	path = Homeworks/HW3-Bezier-Bernstein/glfw
	url = https://github.com/glfw/glfw
[submodule "Homeworks/HW3-Bezier-Bernstein/implot"]
	path = Homeworks/HW3-Bezier-Bernstein/implot
	url = https://github.com/epezent/implot.git
[submodule "Homeworks/HW5-Bezier-Spline/imgui"]
	path = Homeworks/HW5-Bezier-Spline/imgui
	url = https://github.com/ocornut/imgui
[submodule "Homeworks/HW5-Bezier-Spline/implot"]
	path = Homeworks/HW5-Bezier-Spline/implot
	url = https://github.com/epezent/implot.git
[submodule "Homeworks/HW5-Bezier-Spline/glfw"]
	path = Homeworks/HW5-Bezier-Spline/glfw
	url = https://github.com/glfw/glfw
[submodule "Homeworks/HW5-Bezier-Spline/eigen"]
	path = Homeworks/HW5-Bezier-Spline/eigen
	url = https://gitlab.com/libeigen/eigen.git
